  <%= form.error_messages %>

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :link %><br />
    <%= form.text_field :link %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :lat %><br />
    <%= form.text_field :lat %>
  </p>
  <p>
    <%= form.label :lon %><br />
    <%= form.text_field :lon %>
  </p>

  <p>
    <%= form.label :photo %><br />
    <%= form.file_field :photo %>
  </p>


