<%= @map.body() %>

<h1>Search Filter</h1>
<form>
<input name="q"/>
<input type=submit value="search!"/>
</form>

<h1>Results</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%=h note.title %></td>
    <td><%=h note.link %></td>
    <td><%=h note.description %></td>
    <td><%=h note.lat %></td>
    <td><%=h note.lon %></td>
  </tr>
<% end %>
</table>

<br />

