<h1>Aggregation status page</h1>

<h2><%=@activity.length%> items found - sort by:</h2>
<a href="?kind=KIND_USER">users</a> |
<a href="?kind=KIND_POST">posts</a> |
<a href="?anchor=true">anchors</a> |
<a href="?score=0">score</a> |
<a href="?offset=500&limit=500">limit</a>
<br/>

<h2>items</h2>
<style>
table { width:100% }
td { valign:top }
</style>
<table>
<tr>
<td>id</td>
<td>uuid</td>
<td>score</td>
<td>kind</td>
<td>Updated At</td>
<td>lat</td>
<td>lon</td>
<td>title</td>
</tr>
<% seconds = Time.now %>
<% @activity.each do |note| %>
<tr>
<td width=5%><%= note.id %></td>
<td width=5%><%= note.uuid %></td>
<td width=5%><%= note.score %></td>
<td width=10%><%= note.kind %></td>
<td width=10%><%= seconds-note.updated_at %></td>
<td width=10%><%= note.lat %></td>
<td width=10%><%= note.lon %></td>
<td width=40%><%= note.title %></td>
</tr>
<% end %>
</table>

