<%= render :partial => '/users/icon', :locals => { :user => @user } %>

<%if @user == current_user || ( current_user && current_user.admin == true ) -%>
<%= link_to 'Edit', "/users/edit/#{@user.login}" %>
<%= link_to "Delete", {:action => "delete", :id => @user.login}, :confirm => "Are you sure!?" %>
<% end -%>

<div style="border:2px solid green">
<a href="/notes/new">Add New</a>
</div>

<!-- the home page itself could just provide a filtered view of your stuff with a map...
     or we can use a strictly delicious style view
   -->
<div style="border:2px solid green">
<a href="/notes/new">Explore stuff!</a>
</div>

<% # This is local hinting for recent acquisitions... This can be moved to a utility or helper or just to notes later
   Note.find(:all,:conditions => { :owner_id => @user.id }, :offset => 0, :limit => 10, :order => "id desc" ).each do |note| -%>
<%= render :partial => '/notes/icon', :locals => { :is_owner => true, :note => note } %>
<% end -%>

<% if current_user && current_user.admin %>
<h2>Administrative details</h2>
<table border=1>
<tr><td bgcolor=grey>Login</td><td><%=@user.login%></td></tr>
<tr><td bgcolor=grey>Login count</td><td><%=@user.login_count%></td></tr>
<tr><td bgcolor=grey>Login request time</td><td><%=@user.last_request_at%></td></tr>
<tr><td bgcolor=grey>Login last </td><td><%=@user.last_login_at%></td></tr>
<tr><td bgcolor=grey>Login current </td><td><%=@user.current_login_at%></td></tr>
<tr><td bgcolor=grey>Login last ip</td><td><%=@user.last_login_ip%></td></tr>
<tr><td bgcolor=grey>Login current ip</td><td><%=@user.current_login_ip%></td></tr>
</tr>
</table>
<% end %>

