<% if @user.photo.exists? then %>
<%= image_tag @user.photo.url(:small) %><br/>
<% else %>
<img src="/images/default.jpg" width="50" height="50" style="border: 4px ridge grey" /><br/>
<% end %>
<h2><%= @user.login %></h2>

<%= link_to 'Edit', edit_account_path %>

<% if @user.admin %>
<h2>Administrative details</h2>
<table border=1>
<tr><td bgcolor=grey>Login</td><td><%=@user.login%></td></tr>
<tr><td bgcolor=grey>Login count</td><td><%=@user.login_count%></td></tr>
<tr><td bgcolor=grey>Login request time</td><td><%=@user.last_request_at%></td></tr>
<tr><td bgcolor=grey>Login last </td><td><%=@user.last_login_at%></td></tr>
<tr><td bgcolor=grey>Login current </td><td><%=@user.current_login_at%></td></tr>
<tr><td bgcolor=grey>Login last ip</td><td><%=@user.last_login_ip%></td></tr>
<tr><td bgcolor=grey>Login current ip</td><td><%=@user.current_login_ip%></td></tr>
</tr>
</table>
<% end %>

