<%= link_to "Angel", "/" %> 
<div style="float:right;">
<form name="searchform" style="display:inline; padding:0; margin:0;">
<input type="hidden" name="latitude" id="latitude" value="0" />
<input type="hidden" name="longitude" id="longitude" value="0" />
<input type="text" name="q" id="q" value="<%=params[:q]%>" size="20" />
<input type="submit" value="search" />
</form>
<%= link_to "new", "/notes/new" %> |
<% if !current_user %>
<%= link_to "signup", "/users/new" %> |
<%= link_to "signin", new_user_session_path %>
<% else %>
<% if current_user.admin %>
<%= link_to "admin", "/admin_notes" %> |
<% end %>
welcome home <%= link_to "#{current_user.login}!", "/users/#{current_user.login}" %> |
<%= link_to "signout", user_session_path, :method => :delete %> |
<%= link_to "about", "/about" %>
<% end %>
</div>
<div style="clear:both"></div>
<p style="color: green"><%= flash[:notice] %></p>

